variables.json
vault.key
*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
*.lock.hcl
*.retry
.travis.yml
jdauphant.nginx
.terraform/
.idea/
# Vagrant & molecule
.vagrant/
*.log
*.pyc
.molecule
.cache
.pytest_cache
