cloud_id         = "cloud"
folder_id        = "folder"
public_key_path  = "~/.ssh/otus_devops.pub"
private_key_path = "~/.ssh/otus_devops"
subnet_id        = "subnet"
app_disc_image   = "lol"
db_disc_image    = "kek"
account_key_path = "key.json"
